* {
    box-sizing: border-box;
}

body {
    background-color: hsl(31, 54%, 90%);
    font-size: 16px;
}

img {
    border-radius: 25px;
    height: 375px;
    width: 675px;
    margin-top: 10px;
    
}

h1 {
    text-align: left;
}

/* Headings Class Settings */

.preptime {
    color: hsl(332, 51%, 32%);
}

.recipe-ingredients .recipe-instructions .recipe-nutrition {
    color: hsl(14, 45%, 36%);
    text-align: left;
}

/* Recipe Card & Box Settings */

.recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    margin: 50px 20% 50px 20%;
    padding: 25px 50px 0px 50px;
    border-radius: 25px;
}

.recipe-preparation {
    background-color: hsl(330, 100%, 98%);
    border-radius: 25px;
    padding-left: 50px;
}

/* Paragraphs & Tables Class Settings */

.preps {
    
}

.inglist {}

.cooking-steps {}

.bold-span {
    font-weight: bold;
}
.nutrition-table {}

.color-span {
    font-weight: bold;
    color: hsl(332, 51%, 32%);
}
/* Misc Settings */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}